.family{
    text-align: center;
    font-size:100px;
    color:blue;
}


#fs1{
    
 background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ), url('IMG4.JPG') no-repeat center;
  background-size: cover;
  background-color: white;
  display: table;
  color:white;
  
}
.full-w{
  width:100%;
}
.full-h {
  height: 100%;
}

.vert-center {
  display: table-cell;
  vertical-align: middle;
}

.Header{

    text-align: center;
}

