.family {
  text-align: center;
  font-size: 80px;
  padding:200px;
  color:white;
  
  
}

#front-font {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('IMG4.JPG') no-repeat center fixed;
  background-size: cover;
  background-color: white;
  display: table;
  color: white;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.vert-center {
  display: table-cell;
  vertical-align: middle;
}

.Header {
  text-align: center;
}

#front-page {
  font-size: 160px;
  padding:170px;
  color:	#00BFFF ;
  
}

#student {
  font-family: 'Archivo Black', sans-serif;
  font-size:80px;
  color: #00BFFF ;
}

#Q3 {
  font-size: 65px;
  color: #00BFFF ;
}

#Q1 {
  font-family: 'Crete Round', serif;
  font-size: 35px;
}

#Q2{
  font-family: 'Crete Round', serif;
  font-size: 35px;
}

#head-list3 {
  font-family: 'Crete Round', serif;
  font-size: 35px;
}

.list {
  font-size: 25px;
}

#parent {
  font-family: 'Archivo Black', sans-serif;
}

#admin {
  font-family: 'Archivo Black', sans-serif;
  
}


#footer{
background:#696969;
}


#family-background {
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("IMG9.JPG");
   background-size:cover;
  
}

#studentBackground {
 

  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("IMG6.JPG");
 padding:200px;
 background-size:cover;
  color: white;
}

#parentBackground {
  background-size:cover;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("FamilyPic.jpg");
 padding:250px;
  background-size:cover;
}
.P-list{
  color:white;
}

#adminBackground {
 background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)), url("Brooklynpic.jpg");
    background-size:cover;
    padding:200px;
}